<ion-header>

  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<div class="content" padding>
    <div class="container">
    <ion-list>
  
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input type="text" [(ngModel)]="user.name"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label floating>Nick Name</ion-label>
        <ion-input type="text" [(ngModel)]="user.nick" ></ion-input>
      </ion-item>

      <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="email" [(ngModel)]="user.email" ></ion-input>
        </ion-item>

      <ion-item>
          <ion-label floating>Senha</ion-label>
          <ion-input type="password" [(ngModel)]="user.password" ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Confirmar Senha</ion-label>
            <ion-input type="password" [(ngModel)]="user.password_confirmation" ></ion-input>
          </ion-item>

      <div padding>
          <button block ion-button (click) = "signUp()">Cadastrar</button>
        </div>
    </ion-list>
    </div>
  
    
  </div>
