<div class="content" padding>
  <div class="container">
  <ion-list>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password" ></ion-input>
    </ion-item>
    
    <div padding>
        <button block ion-button (click) = "login()">Logar</button>
      </div>

    <div padding>
        <button block ion-button (click) = "goToSignUp()">Cadastrar</button>
      </div>
  </ion-list>
  </div>

  
</div>